@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 100%;
  max-width: 500px;
}

.Typist{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
}
.Typist span{
  display: none;
}

